@media only screen and (max-width: 1200px) {
  
    :root{
        font-size: calc(16px + .5vw);
    }

    .start-page-wrapper{
        padding: 2em;
        height: calc(100vh - 4em);
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: var(--color-bg-dark);
        flex: none;
        margin: var(--global-margin) auto 0 auto;
        width: 100%;
    }
    .header::before{
        display: none;
    }
    .header::after{
        display: none;
    }

    .mobile-nav-bar{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        animation: mobile-nav-in .4s forwards;
    }

    @keyframes mobile-nav-in {
        from { opacity: 0; transform: scale(.9); }
        to {opacity: 1; transform: scale(1);}
    }

    .mobile-nav-bar > .button{
        width: 100%;
        justify-content: center;
        font-weight: 500;
        padding: .2em;
        margin: .3em;
        border: .1em solid var(--color-bg-dark);
        transition-duration: .2s;
        transform: scale(.95);
    }

    .mobile-nav-bar > .button:nth-child(1){
        background: var(--color-bg-light);
        color: var(--color-bg-dark);
    }
    .mobile-nav-bar > .button:nth-child(2){
        background: var(--color-accent-light);
        color: var(--color-accent-dark);
    }

    .mobile-nav-bar > .active{
        transform: scale(1);
        font-weight: 700;
    }
    .mobile-nav-bar > .active:nth-child(1){
        background: var(--color-primary);
        color: var(--color-bg-dark);
        border: solid var(--color-bg-light);
    }
    .mobile-nav-bar > .active:nth-child(2){
        background: var(--color-accent-dark);
        color: var(--color-accent-light);
        border: solid var(--color-accent-light);
    }

    .column-container{
        overflow: auto;
        padding: var(--global-margin);
        overflow-x: hidden;
        justify-content: center;
    }

    .options-panel, .maps-panel{
        margin: 0;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    .mobile-hidden {
        display: none !important;
    }

    .button{
        margin: .25em .25rem;
        justify-content: space-between;
    }
    .button:hover{
        letter-spacing: normal;
        transform: scale(1.02);
    }
    .button:active{
        letter-spacing: normal;
        transform: scale(.99);
    }

    .maps-instruction{
        padding: 2em .2em;
    }
    .maps-instruction::before{
        display: none;
    }
    .maps-instruction::after{
        content: "";
    }

    .added-round > .first{
        margin-left: auto;
    }

    .round-container > .game-container {
        flex: 1;
        animation-name: none;
        opacity: 1;
    }

    .footer{
        flex: none;
    }

}

@media only screen and (max-width: 600px) {
    
    :root{
        --global-margin: 8px;
        font-size: 18px;
    }
    
    ::-webkit-scrollbar{
        width: 8px;
    }

    .start-page-title{
        font-size: 1.75em;
    }

    .start-page-subtext{
        font-size: 1.35em;
    }

    .menu-header{
        margin-top: 3.5em;
    }

    .splat-2-warn{
        margin-top: 1em;
    }

    .button {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .75em;
    }
    .button:hover{
        border-color: white;
    }

    .column-container{
        padding: 0;
    }

    .options-panel, .maps-panel {
        padding: .1em;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .map-visual-table{
        padding: .5em 0;
    }

    .save-load > .title {
        width: calc(100% - 2em);
    }

    .round-container > .game-container {
        flex-wrap: wrap;
    }

    .round-adder{
        flex-direction: column;
        align-items: flex-start;
    }
    .round-adder input[type=text]{
        width: -webkit-fill-available;
        width: -moz-available;
        margin-bottom: .25em;
    }

    .added-round > .title{
        width: 100%;
    }

    .added-round > .games{
        margin-left: 0;
        font-size: .85em;
    }

    .added-round > .button:first-of-type{
        margin-left: 1rem;
    }

    .maps-instruction{
        font-size: 1.2em;
    }

    .map-drop-menu {
        border-width: 1px;
        margin: 2px;
        width: calc(100% - 2.1em);
        margin-right: 0;
        margin-left: auto;
    }

    .modal-container {
        backdrop-filter: none;
    }

    .modal-container.green {
        background: var(--color-bg-light);
        box-shadow: none;
    }

    .modal-container.red{
        background: var(--color-accent-light);
        box-shadow: none;
    }

    .modal-header{
        align-items: center;
    }

    .modal-content{
        width: 100%;
        max-height: 85vh;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .modal-content.green, .modal-content.red{
        box-shadow: none;
    }

    .modal-content label {
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: .5em;
    }

    .footer{
        margin: .5em 0;
    }

}