:root{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: calc(16px + .3vw);

    --high-contrast: false;

    --color-bg-dark: #254459;
    --color-bg-light: #b6f3da;
    --color-primary: #2df8a4;
    --color-accent-dark: #9c4232;
    --color-accent-light: #e0bcb6;

    --global-margin: calc(1vw + .563vh);
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    background: var(--color-primary);
    border-radius: 6px;
}

body {
    background: var(--color-bg-dark);
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}

button {
    border: none;
    background: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    cursor: pointer;
}

input{
    background: #00000000;
    border: solid 2px white;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
input:focus{
    outline: none;
}

.data {
    display: none;
}

.header{
    flex: 0 1 auto;
    font-size: 1.5em;
    font-weight: 600;
    margin: var(--global-margin);
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: .5s;
}
.header::before{
    content: "Settings";
    margin-left: var(--global-margin);
    font-size: .8em;
    color: var(--color-bg-light);
}
.header::after{
    content: "Map List";
    margin-right: var(--global-margin);
    font-size: .8em;
    color: var(--color-accent-light);
}

.column-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.options-panel, .maps-panel{
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--global-margin) * 1.65);
    margin: var(--global-margin);
    border: 4px solid;
    color: var(--color-bg-dark);
    padding: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.options-panel{
    flex: 40%;
    border-color: var(--color-primary);
    background: var(--color-bg-light);
    user-select: none;
    transition-duration: .5s;
}
.options-panel::-webkit-scrollbar-thumb{
    background: var(--color-bg-dark);
}

.maps-panel{
    flex: none;
    transition-duration: .5s;
    margin-left: 0;
    border-color: var(--color-accent-dark);
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
}
.maps-panel::-webkit-scrollbar-thumb{
    background: var(--color-accent-dark);
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    transition-duration: .2s;
    padding: 12px;
    margin: 4px 6px;
    margin-right: auto;
    text-align: left;
    color: var(--color-bg-dark);
}
.button:hover{
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    letter-spacing: 0.015em;
}
.button:active{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
    letter-spacing: -0.01em;
}

.map-picker > .title{
    font-size: 1.6em;
    font-weight: 600;
    margin-right: 20px;
}
.map-picker > .detail{
    font-size: .8em;
    font-weight: 400;
}

.save-load > .title {
    font-weight: 400;
    font-size: 1.4em;
    margin-right: 20px;
}
.save-load > .detail {
    font-size: .8em;
}

.menu-header {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    font-weight: 400;
    margin: 24px 18px 12px 18px;
    align-items: center;
    white-space: nowrap;
    letter-spacing: .1em;
}
.menu-header:after{
    content: '';
    height: 2px;
    width: 100%;
    margin-left: 1em;
}

.options-panel > .menu-header {
    color: var(--color-bg-dark);
}
.options-panel > .menu-header::after {
    background: var(--color-bg-dark);
}

.round-adder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px;
    margin: 6px;
}
.round-adder > .title {
    font-size: 1.6em;
    font-weight: 600;
    margin-right: 20px;
}
.round-adder > .detail {
    font-size: .8em;
    font-weight: 400;
    margin-right: 8px;
    margin-left: 16px;
    display: inline-block;

}
.round-adder input {
    vertical-align: middle;
    min-width: 5em;
    margin-right: 12px;
    transition-duration: .2s;
    border-color: var(--color-bg-dark);
    color: var(--color-bg-dark);
    padding: 4px;
    margin: 2px;
}
.round-adder input:focus{
    border-color: #00000000;
    color: var(--color-bg-dark);
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    padding: 6px;
    margin: 0px;
}
.round-adder input[type=number]{
    width: 1em;
    text-align: center;
}
.round-adder input[type=checkbox]{
    width: 1em;
    height: 1em;
    min-width: 0;
}
.round-adder input[type=checkbox]:focus{
    padding: 4px;
    margin: 2px;
}

.round-editor {
    padding: 12px;
    margin: 6px 18px;
    border-left: 3px solid var(--color-bg-dark);
    border-radius: 8px;
    width: auto;
    transition-duration: 1s;
}
.round-editor::before{
    padding: 8px 4px;
    content: "Added Rounds";
}

.added-round{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    animation: addedRound .5s 1;
}
.added-round::before{
    background: var(--color-bg-dark);
    content: '';
    height: 3px;
    width: .5em;
    margin-right: .2em;
    margin-left: -.7em;
    border-radius: 3px;
}

@keyframes addedRound {
    from{ left: 60px; opacity: 0%; }
    to { left: 0px; opacity: 100%;}
}

.added-round > .title{
    font-size: 1.3em;
    font-weight: 600;
    padding: 8px 4px;
    margin-right: .6em;
}

.added-round > .games{
    padding: 8px 4px;
}
.added-round > .games::after{
    content: " games";
    margin-right: .6em;
}

.added-round > .counterpick{
    padding: 8px 4px;
    font-size: .7em;
    font-style: italic;
    margin-right: .6em;
}

.added-round > .button{
    margin: 0;
}

.generate-error-message{
    font-size: .8em;
    padding: 6px 12px 6px 12px;
    margin: 4px 6px;
    animation: errorFlash 1.5s infinite;
}
.generate-error-message::before{
    content: "Error:";
    padding: 4px;
    margin-right: .4em;
    color: var(--color-accent-dark);
    background: var(--color-accent-light);
    border-radius: 6px;
    font-weight: 600;
    font-style: normal;
}

@keyframes errorFlash {
    0% { color: var(--color-bg-dark); }
    50% { color: var(--color-accent-dark); }
    100% { color: var(--color-bg-dark); }
}

.generate {
    font-weight: 700;
    font-size: 1.5em;
}

.generate > .detail {
    font-weight: 400;
    font-size: .6em;
    margin-left: 1em;
}

.generate:disabled{
    opacity: 40%;
    cursor: not-allowed;
}

.maps-instruction{
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    padding: 32px;
    margin: auto;
    user-select: none;
}
.maps-instruction::after{
    content: "â†";
    display: block;
    font-size: 2em;
}

.round-container{
    animation: fadeIn .5s 1;
}

.round-container > .menu-header {
    color: var(--color-accent-dark);
}
.round-container > .menu-header::after {
    background: var(--color-accent-dark);
}

.round-container > .game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 18px;
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
    animation: gameAdded .5s 1;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes gameAdded {
    from { right: 150px; opacity: 0%; }
    to   { right: 0px; opacity: 100%; }
}

.map-drop-menu {
    margin-left: 24px;
    padding: 4px;
    height: 1.8em;
    background: #00000000;
    font-family: 'Roboto Mono', monospace;
    color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
    border-radius: 12px;
    border-width: 0px;
    font-size: .8em;
    font-weight: 400;
    transition-duration: .2s;
}
.map-drop-menu:hover{
    background: white;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 26%);
    border-color: white;
    transform: scale(1.02);
    cursor: pointer;
}
.map-drop-menu:focus{
    border-color: #00000000;
    background-color: white;
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.45);
    transform: scale(1.02);
}
.map-drop-menu:active {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
}

.export-buttons-container{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    animation: fadeIn .5s 1;
}

.export {
    color: var(--color-accent-light);
    background-color: var(--color-accent-dark);
    margin-right: 6px;
}
.export:hover{
    color: var(--color-accent-dark);
    letter-spacing: normal;
    transform: scale(1.03);
}
.export:active{
    transform: scale(.99);
}

.modal-container{
    display: none;
    background: #000000BB;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation: fadeIn .25s 1;
    transition-duration: .25s;
}

.modal-content{
    color: var(--color-bg-dark);
    display: none;
    position: relative;
    flex-direction: column;
    border: solid 5px var(--color-primary);
    border-radius: 30px;
    padding: 25px;
    background: var(--color-bg-light);
    animation: zoom .25s 1;
    max-width: 85vh;
    max-height: 85vh;
    overflow: auto;
    transition-duration: .5s;
}
.modal-content::-webkit-scrollbar-thumb{
    background: var(--color-bg-dark);
}

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes zoom {
    from { transform: scale(0.85); }
    to { transform: scale(1); }
}

.modal-content > .button{
    margin-right: 0;
    justify-content: center;
    font-weight: 600;
}

.modal-content label {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin: 4px;
    border-radius: 12px;
    transition-duration: .1s;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
}
.modal-content label:hover{
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    transform: scale(1.02);
}
.modal-content label:active{
    transform: scale(1.00);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}

.modal-content .map-name{
    margin-right: 2em;
}

.modal-content input{
    width: 1em;
    height: 1em;
    margin-left: auto;
}

.modal-content .exit{
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 6px;
}

.modal-content > .picker-select-shortcuts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.picker-select-shortcuts .button{
    margin: 4px 6px;
    font-weight: 700;
}
.picker-select-shortcuts .button:hover{
    background: white;
}

.picker-select-shortcuts .select-all{
    background: var(--color-primary);
}

.picker-select-shortcuts .deselect-all{
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
}

.footer {
    text-align: center;
    font-size: .75em;
    margin: var(--global-margin);
    margin-top: 0;
    transition-duration: .5s;
}