:root{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: calc(16px + .3vw);

    --high-contrast: false;

    --color-bg-dark: #254459;
    --color-bg-light: #b6f3da;
    --color-primary: #2df8a4;
    --color-accent-dark: #9c4232;
    --color-accent-light: #e0bcb6;

    --global-margin: calc(.7vw + .35vh);
    --transition-duration: .15s;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    background: var(--color-primary);
    border-radius: 6px;
}

body {
    background: var(--color-bg-dark);
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
}

button {
    border: none;
    background: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

input{
    background: #00000000;
    border: solid 2px white;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}
input:focus{
    outline: none;
}

.right-bias {
    margin-left: .5em;
}

.left-bias {
    margin-right: .5em;
}

.data {
    display: none;
}

.header{
    flex: 0 1 auto;
    font-size: 1.2em;
    font-weight: 700;
    margin: var(--global-margin);
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: var(--transition-duration);
    user-select: none;
    position: relative;
    animation: first_fromTop 1s forwards;
}
.header::before{
    content: "Settings";
    margin-left: var(--global-margin);
    font-size: .8em;
    color: var(--color-bg-light);
}
.header::after{
    content: "Map List";
    margin-right: var(--global-margin);
    font-size: .8em;
    color: var(--color-accent-light);
}

.header img, .header i{
    width: auto;
    height: 1em;
    transition-duration: var(--transition-duration);
    margin-right: .5em;
}

.logo-wrapper{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.column-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.options-panel, .maps-panel{
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--global-margin) * 2.5);
    margin: var(--global-margin);
    border: 4px solid;
    color: var(--color-bg-dark);
    padding: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    animation: first_scaleIn 1s forwards;

}

.options-panel{
    flex: 40%;
    border-color: var(--color-primary);
    background: var(--color-bg-light);
    user-select: none;
    transition-duration: var(--transition-duration);
}
.options-panel::-webkit-scrollbar-thumb{
    background: var(--color-bg-dark);
}

.maps-panel{
    flex: none;
    transition-duration: var(--transition-duration);
    margin-left: 0;
    border-color: var(--color-accent-dark);
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
}
.maps-panel::-webkit-scrollbar-thumb{
    background: var(--color-accent-dark);
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    transition-duration: var(--transition-duration);
    padding: 12px;
    margin: 4px 6px;
    margin-right: auto;
    text-align: left;
    color: var(--color-bg-dark);
}
.button:hover{
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    letter-spacing: 0.015em;
}
.button:active{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
    letter-spacing: -0.01em;
}

.map-picker > .title{
    font-size: 1.6em;
    font-weight: 600;
    margin-right: 20px;
}
.map-picker > .detail{
    font-size: .8em;
    font-weight: 400;
}

.map-visual-table{
    border-spacing: 8px;
    font-size: 1.2em;
}

.map-visual-table th{
    background: var(--color-bg-dark);
    color: var(--color-primary);
    border-radius: 16px;
    padding: 8px;
    font-weight: 700;
    font-size: .9em;
}

.map-visual-table td{
    padding: 2px 16px 2px 16px;
    font-weight: 600;
}

.map-visual-table tr:nth-child(even){
    background: #0000000e;
}

.circle{
    width: .85em;
    height: .85em;
    border-radius: 50%;
    margin: 2px;
    background: var(--color-bg-dark);
    margin-left: auto;
    margin-right: auto;
}

.save-load > .title {
    font-weight: 400;
    font-size: 1.4em;
    margin-right: 20px;
}
.save-load > .detail {
    font-size: .8em;
}

.menu-header {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    font-weight: 400;
    margin: 24px 18px 12px 18px;
    align-items: center;
    white-space: nowrap;
    letter-spacing: .1em;
}
.menu-header:after{
    content: '';
    height: 2px;
    width: 100%;
    margin-left: 1em;
}

.options-panel > .menu-header {
    color: var(--color-bg-dark);
}
.options-panel > .menu-header::after {
    background: var(--color-bg-dark);
}

.add-round-header{
    margin: 18px;
    margin-bottom: 0;
    font-size: .7em;
    letter-spacing: .1em;
}

.round-adder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.round-adder > .detail{
    font-size: .8em;
    display: flex;
    margin-left: 4px;
}
.round-adder input {
    transition-duration: var(--transition-duration);
    border-color: var(--color-bg-dark);
    color: var(--color-bg-dark);
    padding: 4px;
    margin-right: 4px;
}
.round-adder input[type=text]{
    vertical-align: middle;
    width: 16em;
}
.round-adder input:focus{
    border-color: #00000000;
    color: var(--color-bg-dark);
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    padding: 6px;
    margin: 0px;
}
.round-adder input[type=number]{
    width: 4em;
    text-align: center;
}
.round-adder input[type=checkbox]{
    width: 1em;
    height: 1em;
    min-width: 0;
}
.round-adder input[type=checkbox]:focus{
    padding: 4px;
    margin: 2px;
}
.round-adder button {
    margin: 0;
    margin-left: 4px;
    padding: 12px;
}

.round-editor {
    padding-left: 12px;
    width: auto;
    transition-duration: var(--transition-duration);
}

.added-round{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    animation: addedRound .5s 1;
}

@keyframes addedRound {
    from{ left: 60px; opacity: 0%; }
    to { left: 0px; opacity: 100%; }
}

.added-round > .title{
    font-size: 1.3em;
    font-weight: 600;
    padding: 8px 4px;
    margin-right: .6em;
}

.added-round > .games{
    padding: 8px 4px;
}

.added-round > .counterpick{
    color: var(--color-primary);
    background: var(--color-bg-dark);
    border-radius: 6px;
    padding: 5px;
    font-size: .7em;
    margin-right: .6em;
    margin-left: .5em;
}

.added-round > .button{
    margin: 0;
}

.error-message{
    font-size: .8em;
    padding: 6px 12px 6px 12px;
    margin: 4px 6px;
    animation: errorFlash 1.5s infinite;
}
.error-message::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f071";

    padding: 4px;
    font-size: 1.1em;
    margin-right: .4em;
    color: var(--color-accent-dark);
}

@keyframes errorFlash {
    0% { color: var(--color-bg-dark); }
    50% { color: var(--color-accent-dark); }
    100% { color: var(--color-bg-dark); }
}

.generate > .title {
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 20px;
}

.generate > .detail {
    font-weight: 400;
    font-size: .8em;
}

.generate:disabled{
    opacity: 40%;
    cursor: not-allowed;
}

.maps-instruction{
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    padding: 32px;
    margin: auto;
    user-select: none;
}
.maps-instruction::after{
    content: "â†";
    display: block;
    font-size: 2em;
}

.round-container{
    animation: fadeIn .5s 1;
}

.round-container > .menu-header {
    color: var(--color-accent-dark);
}
.round-container > .menu-header::after {
    background: var(--color-accent-dark);
}

.round-container > .game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 18px;
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
    animation: gameAdded .5s 1;
    animation-fill-mode: forwards;
    opacity: 0%;
    user-select: none;
}

@keyframes gameAdded {
    from { right: 150px; opacity: 0%; }
    to   { right: 0px; opacity: 100%; }
}

.map-drop-menu {
    margin-left: 24px;
    padding: 4px;
    width: -webkit-fill-available;
    height: 1.8em;
    background: #00000000;
    font-family: 'Roboto Mono', monospace;
    color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
    border-radius: 12px;
    border-width: 0px;
    font-size: .8em;
    font-weight: 400;
    transition-duration: var(--transition-duration);
}
.map-drop-menu:hover{
    background: white;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 26%);
    border-color: white;
    transform: scale(1.02);
    cursor: pointer;
}
.map-drop-menu:focus{
    border-color: #00000000;
    background-color: white;
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.45);
    transform: scale(1.02);
}
.map-drop-menu:active {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
}

.maps-footer-buttons-container{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    animation: fadeIn .5s 1;
}

.maps-footer {
    color: var(--color-accent-dark);
    background-color: #00000000;
    margin-right: 6px;
    font-size: 1.3em;
    font-weight: 600;
}
.maps-footer:hover{
    color: var(--color-accent-dark);
    letter-spacing: normal;
    transform: scale(1.03);
}
.maps-footer:active{
    transform: scale(.99);
}

.modal-container{
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(3px) saturate(70%);
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation: fadeIn .25s 1;
    transition-duration: var(--transition-duration);
}

.modal-content{
    display: none;
    position: relative;
    flex-direction: column;
    border: solid 5px;
    border-radius: 30px;
    padding: 25px;
    animation: zoom .25s 1;
    max-width: 85vh;
    max-height: 85vh;
    overflow: auto;    
    transition-duration: var(--transition-duration);
}
.modal-content::-webkit-scrollbar-thumb{
    background: var(--color-bg-dark);
}

.modal-content.green{
    color: var(--color-bg-dark);
    background-color: var(--color-bg-light);
    border-color: var(--color-primary);
    box-shadow: 0px 0px 150px 60px #2df8a315;
}
.modal-content.green::-webkit-scrollbar-thumb{
    background: var(--color-bg-dark);
}

.modal-content.red {
    color: var(--color-accent-dark);
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-dark);
    box-shadow: 0px 0px 150px 60px #9c42321f;
}
.modal-content.red::-webkit-scrollbar-thumb{
    background: var(--color-accent-dark);
}

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes zoom {
    from { transform: scale(0.85); }
    to { transform: scale(1); }
}

.modal-content > .button{
    margin-right: 0;
    justify-content: center;
    font-weight: 600;
}

.red > .modal-header > .button{
    color:var(--color-accent-dark);
}
.red > .button{
    color:var(--color-accent-dark);
}

.modal-content label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin: 4px;
    border-radius: 12px;
    transition-duration: var(--transition-duration);
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
}
.modal-content label:hover{
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
    transform: scale(1.02);
}
.modal-content label:active{
    transform: scale(1.00);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}

.modal-content .map-name{
    margin-right: 2em;
}

.modal-content input[type=checkbox]{
    width: 1em;
    height: 1em;
    margin-left: auto;
}

.modal-content > .picker-select-shortcuts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.modal-content > .text-export-textarea{
    width: 85%;
    height: 100%;
    border: none;
    margin-right: auto;
    margin-left: auto;
    font-size: .8em;
    font-weight: 400;
    background: var(--color-accent-dark);
    color: var(--color-accent-light);
    padding: 20px;
    resize: none;
    overflow: auto;
    border-radius: 16px;
}
.modal-content > .text-export-textarea:focus-visible{
    outline: none;
}
.modal-content > .text-export-textarea::selection{
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
}
.modal-content > .text-export-textarea::-webkit-scrollbar-thumb{
    background: white;
}

.modal-content > .text-export-subtitle{
    font-size: .9em;
    font-weight: 400;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.modal-content > .detail{
    font-size: .7em;
    font-weight: 400;
    margin-top: 1em;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.4em;
    font-weight: 700;
    padding: 12px;
    margin-bottom: 24px;
    border-bottom: solid 1px;
}
.modal-header > .exit {
    margin: 0;
    padding: .5em;
}
.modal-header > .exit:hover{
    transform: scale(1.04);
    letter-spacing: normal;
}

.red > .modal-header{
    border-color: var(--color-accent-dark);
}
.green > .modal-header{
    border-color: var(--color-bg-dark);
}
.red > .exit{
    color: var(--color-accent-dark);
}
.green > .exit{
    color: var(--color-bg-dark);
}

.modal-title{
    margin-right: 2em;
}


.mode-container-title{
    font-size: 1.4em;
    margin-bottom: .6em;
    font-weight: 600;
}

.stats-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.stats-nav > .button{
    color: var(--color-accent-light);
    background: var(--color-accent-dark);
    text-align: center;
    border: 2px solid #00000000;
    margin: 4px;
}
.stats-nav > .button:hover{
    color: var(--color-accent-dark);
    background: white;
    letter-spacing: normal;
    transform: scale(1.03);
}
.stats-nav > .button:active{
    transform: scale(.98);
}
.stats-nav > .button.active{
    font-weight: 700;
    color: var(--color-accent-dark);
    background: var(--color-accent-light);
    border: 2px solid var(--color-accent-dark);
    letter-spacing: normal;
}

.stats-options > .stats-option{
    padding: 6px 18px 6px 18px;
}

.stats-option > .stats-option-name{
    font-size: .8em;
}

.map-container > .map-name {
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .12em;
    margin-bottom: .2em;
}

.stats-footer {
    margin-top: 4em;
    font-size: .6em;
    font-style: italic;
}

.map-container > .map-count {
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 1em;
    background: var(--color-accent-dark);
    color: var(--color-accent-light);
    height: 1.2em;
    padding: 4px;
    padding-right: 16px;
    border-radius: 12px;
    margin-bottom: .5em;
    font-weight: 700;
    animation: wipeIn .5s 1;
}

@keyframes wipeIn {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.save-name{
    margin: 2px;
    margin-top: .2em;
    padding: 8px;
    border: 2px solid var(--color-bg-dark);
    color: var(--color-bg-dark);
}

.load-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.load-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid var(--color-bg-dark);
    margin-top: 8px;
    padding-bottom: 8px;
}

.load-wrapper > .button {
    margin: 2px;
}

.load-name{
    font-weight: 600;
    margin-right: auto;
    padding-right: 1.5em;
    font-size: 1.4em;
    margin-left: 18px;
}

.load-button:hover, .load-delete:hover{
    letter-spacing: normal;
    transform: scale(1.03);
}


.picker-select-shortcuts .button{
    margin: 4px 6px;
    font-weight: 700;
}
.picker-select-shortcuts .button:hover{
    background: white;
}

.picker-select-shortcuts .select-all{
    background: var(--color-primary);
}
.picker-select-shortcuts .select-all:hover{
    letter-spacing: normal;
    transform: scale(1.03);
}
.picker-select-shortcuts .select-all:active{
    letter-spacing: normal;
    transform: scale(.99);
}

.picker-select-shortcuts .deselect-all{
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
}
.picker-select-shortcuts .deselect-all:hover{
    letter-spacing: normal;
    transform: scale(1.03);
}
.picker-select-shortcuts .deselect-all:active{
    letter-spacing: normal;
    transform: scale(.99);
}

.footer {
    text-align: center;
    font-size: .75em;
    margin: var(--global-margin);
    margin-top: 0;
    transition-duration: var(--transition-duration);
    user-select: none;
    position: relative;
    animation: first_fromBottom 1s forwards;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container p {
    margin: .5em;
}

.about-container img{
    border-radius: 20%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }


/* first open animations*/
@keyframes first_scaleIn {
    from {
        transform: scale(0.75);
        opacity: 0%;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes first_fromTop {
    from {
        opacity: 0%;
        bottom: 60px;
    }
    to {
        opacity: 100%;
        bottom: 0px;
    }
}

@keyframes first_fromBottom {
    from {
        opacity: 0%;
        top: 60px;
    }
    to {
        opacity: 100%;
        top: 0px;
    }
}